<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.lrshuai.pua.dao.UserDao" >

	<!-- 保存用户信息 -->
	<insert id="saveUser" parameterType="pm" useGeneratedKeys="true" keyProperty="user_id">
		insert into pua_users(
			nick_name,
			pic_id,
			openid,
			<if test="email != null and email != ''">
				email,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="sign != null and sign != ''">
				sign,
			</if>
			<if test="phone != null and phone != ''">
				phone,
			</if>
			<if test="country  != null and country  != ''">
				country ,
			</if>
			<if test="province  != null and province  != ''">
				province ,
			</if>
			<if test="city  != null and city  != ''">
				city ,
			</if>
			<if test="status != null and status != ''">
				status,
			</if>
			create_time,
			ip
		)values(
			#{nick_name},
			#{pic_id},
			#{openid},
			<if test="email != null and email != ''">
				#{email},
			</if>
			<if test="sex != null">
				#{sex},
			</if>
			<if test="sign != null and sign != ''">
				#{sign},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="country != null and country != ''">
				#{country},
			</if>
			<if test="province != null and province != ''">
				#{province},
			</if>
			<if test="city != null and city != ''">
				#{city},
			</if>
			<if test="status != null and status != ''">
				#{status},
			</if>
			#{create_time},
			#{ip}
		)
	</insert>
	
	
	<!-- 保存用户信息 -->
	<insert id="saveUserPictrue" parameterType="pm" >
		insert into picture(
			pic_id,
			user_id,
			pic_type,
			pic_path
		)values(
			#{pic_id},
			#{user_id},
			#{pic_type},
			#{pic_path}
		)
	</insert>
	
	<update id="delPicture" parameterType="pm">
		UPDATE picture a
				SET is_del=1
			where
				pic_id=#{pic_id}
	</update>
	
	<!-- 获取用户信息 -->
	<select id="getUserInfo" parameterType="pm" resultType="pm">
		SELECT
			a.user_id,
			a.nick_name,
			a.pic_id,
			a.sex,
			a.sign,
			a.city,
			a.province,
			a.country,
			a.birthday,
			a.email,
			a.phone,
			a.create_time,
			b.pic_path
		from 
			pua_users a
		LEFT JOIN
			picture b
		ON
			a.pic_id=b.pic_id
		where 1=1
		<if test="user_id != null and user_id != ''">
			and a.user_id = #{user_id}
		</if>
		<if test="openid != null and openid != ''">
			and a.openid = #{openid}
		</if>
	</select>
	

	<!-- 更新用户信息 -->
	<update id="updateUserInfo" parameterType="pm">
		UPDATE pua_users a
			SET 
				<if test="nick_name != null and nick_name != ''">
					a.nick_name=#{nick_name},
				</if>
				<if test="email != null and email != ''">
					a.email=#{email},
				</if>
				<if test="pic_id != null and pic_id != ''">
					a.pic_id=#{pic_id},
				</if>
				
				<if test="sex != null and sex != ''">
					a.sex=#{sex},
				</if>
				
				<if test="sign != null and sign != ''">
					a.sign=#{sign},
				</if>
				<if test="province != null and province != ''">
					a.province=#{province},
				</if>
				<if test="city != null and city != ''">
					a.city=#{city},
				</if>
				<if test="status != null and status != ''">
					a.status=#{status},
				</if>
				<if test="birthday != null and birthday != ''">
					a.birthday = #{birthday},
				</if>
				<if test="phone != null and phone != ''">
					a.phone = #{phone},
				</if>
				user_id= #{user_id}
		WHERE 
			1=1
			<if test="user_id != null and user_id !=''">
				and	a.user_id=#{user_id}
			</if>
	</update>
	
</mapper>